<!-- todo: add link to create a new console -->
<h2>All Consoles:</h2>

<section>
  <% @consoles.each do |console| %>
    <h3>Name: <%= console.name %></h3>
    <h3>Manufacturer: <%= console.manufacturer ||= 'Unknown' %></h3>
    <h3>Release Date: <%= console.release_date ||= 'Unknown' %></h3>
    <p>Missing or Incorrect Information? </p>
    <a href="/consoles/<%= console.slug %>/edit">Edit Console</a>
    <br><br>
  <% end %>
</section>