<section id="login-page">
  <h1 id="login-name" class="name">JoyStick</h1>

  <h2 id="login-header">Log Into JoyStick</h2>

  <% if @errors %>
    <% @errors.each do |error| %>
      <p style="color: red;"><%= error %></p>
    <% end %>
  <% end %>

  <form action="/login" method="post">
    <input class="input login-input" type="text" name="user[username]" placeholder="Username"required><br>
    <input class="input login-input" type="password" name="user[password]" placeholder="Password" required><br>
    
    <input class="button button-login login-input" type="submit" value="Log In"><br>
    
    <a href="#" class="forget-password">Forget Password?</a>
  </form>

  <br>
  <p class="button-or">or</p>

  <form action="/signup" method="get">
    <input class="button button-signup" type="submit" value="Create New Account">
  </form>
</section>
