<h3>Log Into JoyStick</h3>

<% if @errors %>
  <br>
  <p>Error: </p>

  <% @errors.each do |key, value|%>
    <p><%= key %>: <%= value.to_s.gsub(/[\[\]\"]/, "") %></p>
  <% end %>
  
  <br>
<% end %>

<form action="/login" method="post">
  <label>Username: </label>
  <br>
  <input type="text" name="user[username]" required>
  <br><br>

  <label>Password: </label>
  <br>
  <input type="password" name="user[password]" required>
  <br><br>

  <input type="submit" value="Log In">
</form>

<br>
<p>or</p>

<form action="/signup" method="get">
  <input type="submit" value="Create A New Account">
</form>
