<h1>Create a New Account</h1>
<h3>It's quick and easy!</h3>

<% if @errors %>
  <br>
  <p>Error: </p>
  <% @errors.messages.each do |key, value|%>
    <p><%= key %>: <%= value.to_s.gsub(/[\[\]\"]/, "") %></p>
  <% end %>
  <br>
<% end %>

<form action="/signup" method="post">
  <label>Username: </label>
  <br>
  <input type="text" name="user[username]" required>
  <br><br>

  <label>Password: </label>
  <br>
  <input type="password" name="user[password]" required>
  <br><br>

  <input type="submit" value="Sign Up">
</form>

<br>
<p>By clicking Sign Up, you agree to our Terms, Data Policy, Cookie Policy.</p>
<p>And you give up all your privacy and allow us to sell your metadata to whoever wants it</p>