<section class="center-text">

  <form action="/">
    <input type="submit" id="name-container" class="name" value="JoyStick">
  </form>

  <h2 class="main-header-small">Create a New Account</h2>
    
  <% if @errors %>
    <% @errors.each do |error| %>
      <p style="color: red;"><%= error %></p>
    <% end %>
  <% end %>

  <form action="/signup" method="post">
    <label>Username: </label>
    <br>
    <input type="text" name="user[username]" required>
    <br><br>

    <label>Password: </label>
    <br>
    <input type="password" name="user[password]" required>
    <br><br>

    <input type="submit" value="Sign Up">
  </form>

  <br>
  <p>By clicking Sign Up, you agree to our Terms, Data Policy, Cookie Policy.</p>
  <p>And you give up all your privacy and allow us to sell your metadata to whoever wants it</p>

  <br>
  <p>or</p>

  <form action="/login" method="get">
    <input type="submit" value="Log Into an Existing Account">
  </form>
</section>