<h1>Create a Game</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<form action="/games" method="post">
  <label for="">Name:</label>
  <p>* Required</p>
  <input type="text" name="game[name]" required>
  <br><br>

  <label for="">Publisher:</label>
  <p>* Optional</p>
  <input type="text" name="game[publisher]">
  <br><br>
  
  <label for="">Developer:</label>
  <p>* Optional</p>
  <input type="text" name="game[developer]">
  <br><br>

  <label for="">Release Date:</label>
  <p>* Optional</p>
  <input type="text" name="game[release_date]">
  <br><br>

  <input type="submit" value="Create Game">
</form>