<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>JoyStick</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

    <nav>
      <form action="/logout" method="post">
        <input type="hidden" name="_method" id="delete">
        <input type="submit" value="Logout">
      </form>
    </nav>

    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>JoyStick</strong></small>
      </footer>
    </div>
  </body>
</html>
