<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>JoyStick</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>

    <% if logged_in? %> 
      <nav id="navbar">
        <div id="col-1">
          <form action="/">
            <input type="submit" id="name-container" class="name name-med" value="JoyStick">
          </form>
        </div>

        <div id="col-2">
          <a href="/users/<%= current_user.slug %>">My Collections</a>

          <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Logout">
          </form>

          <a href="/collections">Collections</a>
          <a href="/consoles">Consoles</a>
          <a href="/games">Games</a>
        </div>

        <div id="col-3">
          <!-- Add search bar later -->
        </div>
      </nav>
    <% end %>

    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>JoyStick</strong></small>
      </footer>
    </div>
  </body>
</html>
