
<figure id='welcome-img-container'>
  <img id='welcome-img' src="https://freesvg.org/img/brunurb_Retro_Joystick_001.png" alt="joyatick">
</figure>
<section id='welcome-message'>
  <h1>Welcome to <span style='color: red;'>JoyStick!<span></h1>
  <h3>Keep track of your many Video Games and Consoles.</h3>
  <h2>Please <a href="/login">Log In</a> or <a href="/signup">Sign Up</a></h2>
</section>
